/**********************************************************************
* ZDL!
* Copyright (C) 2005 BioHazard / Vectec Software
***********************************************************************
* This program is free software; you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation; either version 3 or any later version.
*
* This program is distributed in the hope that it will be useful, but
* WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
***********************************************************************
* zdl.rc : All the resource stuff
**********************************************************************/
#include "zdl.h"

ICO_ICON ICON DISCARDABLE "res\ico_icon.ico"
ICO_SAVE ICON DISCARDABLE "res\ico_save.ico"
ICO_WAD ICON DISCARDABLE "res\ico_wad.ico"
ICO_PATCH ICON DISCARDABLE "res\ico_patch.ico"
ICO_UP ICON DISCARDABLE "res\ico_up.ico"
ICO_DOWN ICON DISCARDABLE "res\ico_down.ico"
BMP_LOGO BITMAP DISCARDABLE "res\bmp_logo.bmp"

DLG_MAIN DIALOG DISCARDABLE 0,0,180,172
STYLE DS_CENTER|WS_MINIMIZEBOX|WS_POPUP|WS_CAPTION|WS_SYSMENU
CAPTION "ZDL 3.1a"
FONT 8,"MS Sans Serif"
BEGIN
	LTEXT "External Files",IDC_STATIC,0,0,88,8
	LISTBOX LST_PWAD,0,8,88,72,LBS_NOINTEGRALHEIGHT|WS_VSCROLL|WS_TABSTOP,WS_EX_ACCEPTFILES
	PUSHBUTTON "Add",BTN_ADD,0,80,24,12,WS_TABSTOP
	PUSHBUTTON "Rem",BTN_REM,24,80,24,12,WS_TABSTOP
	PUSHBUTTON "^",BTN_UP,56,80,16,12,BS_ICON|WS_TABSTOP
	PUSHBUTTON "v",BTN_DWN,72,80,16,12,BS_ICON|WS_TABSTOP
	LTEXT "Source Port",IDC_STATIC,92,0,88,8
	COMBOBOX LST_PORT,92,8,88,88,CBS_DROPDOWNLIST|WS_VSCROLL|WS_TABSTOP
	LTEXT "IWAD",IDC_STATIC,92,20,88,8
	LISTBOX LST_IWAD,92,28,88,44,LBS_NOINTEGRALHEIGHT|WS_VSCROLL|WS_TABSTOP
	LTEXT "Warp",IDC_STATIC,92,72,44,8
	COMBOBOX LST_WARP,92,80,44,96,CBS_DROPDOWN|CBS_UPPERCASE|CBS_AUTOHSCROLL|WS_VSCROLL|WS_TABSTOP
	LTEXT "Skill",IDC_STATIC,136,72,44,8
	COMBOBOX LST_SKILL,136,80,44,56,CBS_DROPDOWNLIST|WS_VSCROLL|WS_TABSTOP
	LTEXT "Extra Command-line Arguments",IDC_STATIC,0,92,180,8
	EDITTEXT EDT_EXTRA,0,100,180,12,ES_AUTOHSCROLL|WS_TABSTOP
	PUSHBUTTON "Exit",BTN_EXIT,0,116,40,12,WS_TABSTOP
	PUSHBUTTON "ZDL",BTN_ZDL,44,116,20,12,WS_TABSTOP
	PUSHBUTTON "V",BTN_PANEL,116,116,20,12,BS_ICON|WS_TABSTOP
	DEFPUSHBUTTON "Launch",BTN_LAUNCH,140,116,40,12,WS_TABSTOP

	LTEXT "Game Mode",IDC_STATIC,0,132,88,8
	COMBOBOX LST_GAME,0,140,88,40,CBS_DROPDOWNLIST|WS_VSCROLL|WS_TABSTOP
	LTEXT "Host IP Address",IDC_STATIC,92,132,88,8
	EDITTEXT EDT_HOST,92,140,88,12,ES_AUTOHSCROLL|WS_TABSTOP
	LTEXT "Players",IDC_STATIC,0,152,44,8
	COMBOBOX LST_PLAYERS,0,160,44,91,CBS_DROPDOWNLIST|WS_VSCROLL|WS_TABSTOP
	LTEXT "Frag Limit",IDC_STATIC,44,152,44,8
	EDITTEXT EDT_FRAGS,44,160,44,12,ES_AUTOHSCROLL|WS_TABSTOP
	LTEXT "DMFLAGS",IDC_STATIC,92,152,44,8
	EDITTEXT EDT_DMF,92,160,44,12,ES_AUTOHSCROLL|ES_NUMBER|WS_TABSTOP
	LTEXT "DMFLAGS2",IDC_STATIC,136,152,44,8
	EDITTEXT EDT_DMF2,136,160,44,12,ES_AUTOHSCROLL|ES_NUMBER|WS_TABSTOP
END

DLG_OPTIONS DIALOG DISCARDABLE 0,0,172,138
STYLE WS_POPUP|WS_CAPTION
CAPTION "ZDL Configuration"
FONT 8,"MS Sans Serif"
BEGIN
	LTEXT "Always add these args",IDC_STATIC,0,0,172,8
	EDITTEXT EDT_EXTRA,0,8,172,12,ES_AUTOHSCROLL|WS_TABSTOP
	CONTROL "Launch *.ZDL files transparently",CHK_LAUNCH,"Button",BS_AUTOCHECKBOX|WS_TABSTOP,0,20,120,8
	PUSHBUTTON "Associations",BTN_ZDL,124,20,48,12,WS_TABSTOP
	LTEXT "Source Ports",IDC_STATIC,0,32,84,8
	LISTBOX LST_PORT,0,40,84,60,LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
	PUSHBUTTON "Add",BTN_ADD,0,100,24,12,WS_TABSTOP
	PUSHBUTTON "Rem",BTN_REM,24,100,24,12,WS_TABSTOP
	PUSHBUTTON "^",BTN_UP,52,100,16,12,BS_ICON|WS_TABSTOP
	PUSHBUTTON "v",BTN_DWN,68,100,16,12,BS_ICON|WS_TABSTOP
	LTEXT "IWADs",IDC_STATIC,88,32,84,8
	LISTBOX LST_IWAD,88,40,84,60,LBS_NOINTEGRALHEIGHT|WS_VSCROLL| WS_TABSTOP
	PUSHBUTTON "Add",BTN_IADD,88,100,24,12,WS_TABSTOP
	PUSHBUTTON "Rem",BTN_IREM,112,100,24,12,WS_TABSTOP
	PUSHBUTTON "^",BTN_IUP,140,100,16,12,BS_ICON|WS_TABSTOP
	PUSHBUTTON "v",BTN_IDWN,156,100,16,12,BS_ICON|WS_TABSTOP
	CONTROL "Close on Launch",CHK_AUTOCLOSE,"Button",BS_AUTOCHECKBOX|WS_TABSTOP,0,114,120,8

	DEFPUSHBUTTON "OK",BTN_OK,60,124,52,12,WS_TABSTOP
END

DLG_FILE DIALOG DISCARDABLE 0,0,164,58
STYLE WS_POPUP|WS_CAPTION
CAPTION "New Item"
FONT 8,"MS Sans Serif"
BEGIN
	DEFPUSHBUTTON "OK",BTN_OK,116,44,48,12
	PUSHBUTTON "Cancel",BTN_EXIT,0,44,47,12,WS_TABSTOP
	LTEXT "Path to File",IDC_STATIC,0,20,164,8
	EDITTEXT EDT_PATH,0,28,152,12,ES_AUTOHSCROLL|WS_TABSTOP
	PUSHBUTTON "...",BTN_BROWSE,152,28,12,12,WS_TABSTOP
	LTEXT "Name",IDC_STATIC,0,0,164,8
	EDITTEXT EDT_NAME,0,8,164,12,ES_AUTOHSCROLL|WS_TABSTOP
END

DLG_ASSOC DIALOG DISCARDABLE 0,0,96,57
STYLE WS_POPUP|WS_CAPTION
CAPTION "File Associations"
FONT 8,"MS Sans Serif"
BEGIN
	CONTROL "ZDL Saved configs (*.zdl)",CHK_ZDL,"Button",BS_AUTOCHECKBOX|WS_TABSTOP,0,0,96,8
	CONTROL "WAD Files (*.wad)",CHK_WAD,"Button",BS_AUTOCHECKBOX|WS_TABSTOP,0,8,96,8
	CONTROL "PK3 Files (*.pk3)",CHK_PK3,"Button",BS_AUTOCHECKBOX|WS_TABSTOP,0,16,96,8
	CONTROL "ZIP Files (*.zip)",CHK_ZIP,"Button",BS_AUTOCHECKBOX|WS_TABSTOP,0,24,96,8
	CONTROL "Patch Files (*.deh,*.bex)",CHK_DEH,"Button",BS_AUTOCHECKBOX|WS_TABSTOP,0,32,96,8
	DEFPUSHBUTTON "OK",BTN_OK,24,44,48,12,WS_TABSTOP
END

DLG_ABOUT DIALOG 0,0,172,94
STYLE WS_POPUP|WS_CAPTION
CAPTION "About ZDL"
FONT 8,"MS Sans Serif"
BEGIN
	DEFPUSHBUTTON "OK",BTN_OK,132,48,36,12
	CONTROL BMP_LOGO,IDC_STATIC,"Static",SS_BITMAP,0,0,68,33,WS_EX_DLGMODALFRAME
	LTEXT "ZDL V3.1a\nCopyright (c) 2005 BioHazard\nhttp://biohazard.drdteam.org/",IDC_STATIC,72,4,96,24
	LTEXT "Greetz to Risen, Enjay, DRDTeam.org, ZDoom.org, #DoomArmory + #DMClub!\nYou guys rock! Enjoy this!              -Bio",IDC_STATIC,4,36,124,24

	LTEXT "Updates and bugfixes by Risen: 2007-11-20",IDC_STATIC,4,68,168,8
	LTEXT "Thanks: Bio, Grubber, MrMan, \nVader, Solarsnowfall, Nash",IDC_STATIC,4,76,168,16
END

MNU_MENU MENU DISCARDABLE BEGIN
	POPUP "Menu" BEGIN
		POPUP "Action" BEGIN
			MENUITEM "Show Command Line",MNU_CMD
			MENUITEM "Clear PWAD list",MNU_PWAD
			MENUITEM "Clear All Fields",MNU_CLEAR
		END
		MENUITEM SEPARATOR
		MENUITEM "Load Config...",MNU_LOAD
		MENUITEM "Save Config...",MNU_SAVE
		MENUITEM SEPARATOR
		MENUITEM "Options",MNU_OPTIONS
		MENUITEM "About",MNU_ABOUT				
	END
END
